#greatBackground{
  
  
  background-color:white
}

#pancakeTray{
  position: absolute;
  width:50vw;
  top:-50vh;
  left:-25vw;
  transition-duration: 2s
}
#pancakeTray:hover{
  transform: translateY(-15px)
}

.pancake{
  display: block;
  position:absolute;
  background-color:rgb(247, 215, 139);
  height:30vh;
  width:23vw;
  left:38%;
  top:38%;
  border-radius:100%;
  border:10px solid white;
  text-align: center;
  transition-duration: 2s;
  z-index: 49;
  
}
.pancake:hover{
  transform:translateY(15px)
}

.projectImages{
  width:300px;
  height:200px;
  animation:fadein 2s
}
#pancakeOne{
  position: absolute;
  margin-top:-60px
  
}
#pancakeTwo{
  position: absolute;
  margin-top: -90px
}
#pancakeThree{
  position: absolute;
  margin-top:-120px
}
#pancakeFour{
  position: absolute;
  margin-top:-150px
}


h1{
  
  margin-left: 35%
}
h2{
  margin-left: 38%
}

#experience{
  
  position:absolute;
  z-index: 9;
  left:-7.5%;
  top:57vh
}
#skills{
  position:absolute;
  background-color: white;
  left:2.5vw;
  width:6vw;
  height:10vh;
  text-align: center;
  top:63vh;
  z-index: 26;
  transition-duration: 2s;
  border-radius: 13%;
  background-color: lightcoral;
  border:5px solid black;
  color:white;

}
.bacon{
  position:absolute;
  transform: rotate(90deg);
  height: 13vh;
  width:27vw;
  top: 50vh;
  transition-duration: 1.5s;
  z-index: 12
}
.baconExperience{
  z-index: 103;
  position:absolute;
  left:26vw;
  top:48vh;
  transition-duration: 2s;
  animation:fadein 2s;
  width:40vw;
  max-height:32vh;
  font-weight: bold;
  pointer-events: none
}
#experienceTwo{
  top:47vh;
  left:23vw
}
#experienceThree{
  top:47vh;
  left:20vw
}

.baconWords{
  transform:rotate(270deg);
  margin-top: 350%;
  font-size:30px
}
#plateOfBacon{
  position: absolute;
  width:35vw;
  left:85vw;
  top:5vh;
  transition-duration: 2s
}
#plateOfBacon:hover{
  transform: translateY(-15px)
}
#fork{
  position: absolute;
  left:0;
  top:41%;
  height:30vh;
  width:23vw;
  margin-top:-130px;
  z-index: 101;
  transition-duration: 2s
}
#eatBacon{
  text-align:center;
  position: absolute;
  width:10%;
  top:70vh;
  left:10vw;
  z-index: 102;
  transition-duration: 2s
}
#eatBacon:hover{
  background-color: rgb(156, 243, 243)
}
#eatPancake:hover{
  background-color: rgb(156,243,243)
}
#eatPancake{
  text-align:center;
  position: absolute;
  width:10%;
  top:70%;
  left:20%;
  z-index:102;
  transition-duration: 2s
}
#knife{
  position: absolute;
  height:400px;
  width:400px;
  margin-top:-130px;
  margin-left:-90px
}
#syrup{
  position: absolute;
  z-index: 25;
  height:40vh;
  width:19vw;
  top:45vh;
  left:-7vh;
  transition-duration: 2s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
#butterStick{
  position:absolute;
  top:45%;
  left:62.5vw;
  width:28vw;
  height:30vh;
  transition-duration: 2s
}
#butterStick:hover{
  transform: translateY(-15px)
}
.butterSlice{
  position: absolute;
  z-index: 99;
  width:12vw;
  height:12vh;
  pointer-events: none
}
#butterSliceOne{
  left:50vw;
  top:33vh
}
#butterSliceTwo{
  left:40vw;
  top:41vh
}
#butterSliceThree{
  left:45vw;
  top:41vh
}
#butterSliceFour{
  left:35vw;
  top:33vh
}
#butterSliceFive{
  left:45vw;
  top:29vh
}

#coffeeCup{
  width:17vw;
  position: absolute;
  top:10vh;
  left:65vw;
  transition-duration: 2s;
  z-index: 13;
  
}
#coffeeCup:hover{
  transform: translateY(-15px)
}
@keyframes steamUp{

  from {top:11vh;opacity:100%}
  
  to {top:0;opacity:0}
  

}
.steam{
  z-index: 100;
  position:absolute;
  animation: steamUp;
  left:27vw;
  top:11vh;
  width:10vw;
  height:45vh;
  
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
#steamTwo{
  left:24vw;
  animation-delay: 3.7s;
  animation-duration: 3s;
}
#steamThree{
  left:20vw;
  animation-delay: 2s;
  animation-duration: 7s;
}
#steamFour{
  left:18vw;
  animation-delay: 4.5s;
  animation-duration:4s
}
#steamFive{
  left:21vw;
  animation-delay: 3s
}

#coffeeWords{
  position: absolute;
  display: block;
  width:300px;
  left:23.5vw;
  top:41vh;
  z-index: 50000000000000;
  animation:fadein 3s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#baconOne{
  position:absolute;
  left:22vw;
  top:31vh;
}
#baconOne:hover{
  top:29vh
}
#baconTwo{
  position:absolute;
  left:19vw;
  top:31vh;
}
#baconTwo:hover{
  top:29vh
}
#baconThree{
  position:absolute;
  left:15vw;
  top:31vh; 
  z-index:2
}
#baconThree:hover{
  top:29vh
}
#baconFour{
  position:absolute;
  left:16vw;
  top:31vh;
  transform:rotate(-49deg);
}
#baconFour:hover{
  top:29vh
}

#baconFive{
  position:absolute;
  left:25.5vh;
  top:31vh;
  transform:rotate(-61deg);
  z-index:2
}

#baconFive:hover{
  top:29vh

}

#tableCloth{
  position:absolute;
  width:100%;
  height:2000px;
  z-index:-1
}
#baconSix{
  position:absolute;
  left:19vw;
  top:31vh;
  transform:rotate(49deg);
}
#baconSix:hover{
  top:29vh
}
#baconSeven{
  position:absolute;
  left:15vw;
  top:31vh;
  transform:rotate(55deg);
  
  z-index:2
}
#baconSeven:hover{
  top:29vh
}

.plate{
  position:absolute;
  left: 45vw;
  height:53vh;
  width:43vw;
  background-color: rgb(219, 218, 218);
  border-radius:13%;
  transform: translateX(-55%);
  border:2px solid black;
  box-shadow: 10px 10px gray;
  
}
.pancakeStack{
  margin-top: -370px;
  margin-left:570px
}
.headerTwo{
  margin-left: 0;
  width:100vw;
  
  position: absolute;
  top:70%;
  text-align: center
}
.headerThree{
  margin-left: 0;
  width:100vw;
  
  position: absolute;
  top:75%;
  text-align: center
  
}

